html {
  overflow-x: hidden;
}

.ant-layout-content {
  padding-bottom: 2.5rem;
  padding: 0 50px;
  margin-top: 64px;
  position: relative;
  min-height: calc(100vh - 135px);
}

.ant-layout-footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Header  */

.ant-layout-header {
  background: #fff;
  line-height: 48px;
  height: 48px;
  display: flex;
  position: relative;
}

.logo {
  height: 48px;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .ant-layout-header {
    padding: 0px 0px;
  }
  .logo {
    padding: 0 12px;
  }
}

/* Drawer */

.ant-drawer-body {
  padding: 0;
  padding-top: 24px;
}

/* Table load CSV*/

.ant-table {
  display: block;
}
@media screen and (max-width: 600px) {
  .ant-table-cell {
    display: flex;
    flex-direction: column;
  }
  .ant-table-thead > tr th:first-of-type,
  .ant-table-tbody > tr th:first-of-type,
  .ant-table-thead > tr td:first-of-type,
  .ant-table-tbody > tr td:first-of-type {
    padding-top: 1rem;
  }
  .ant-table-thead > tr th:last-of-type,
  .ant-table-tbody > tr th:last-of-type,
  .ant-table-thead > tr td:last-of-type,
  .ant-table-tbody > tr td:last-of-type {
    padding-bottom: 1rem;
  }
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > th,
  .ant-table-thead > tr > td,
  .ant-table-tbody > tr > td {
    display: block;
    width: auto !important;
    border: none;
    padding: 0 1rem;
    font-size: 1.1rem;
  }
  .ant-table-thead > tr > th:last-child,
  .ant-table-tbody > tr > th:last-child,
  .ant-table-thead > tr > td:last-child,
  .ant-table-tbody > tr > td:last-child {
    border-bottom: 1px solid #eee;
  }
}

/* Menu */
.ant-menu-horizontal {
  border-bottom: none;
}

/* Content */

.ant-layout {
  overflow-x: hidden;
}

/* Create chart sections */

/* Load table list */

#load-tables {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.list-wrapper {
  min-width: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.section__text {
  font-size: 16px;
  text-align: center;
  padding-bottom: 12px;
}

.text-wrapper {
  display: flex;
  justify-content: center;
}

#chart-select {
  padding: 40px 0;
}

.ant-row {
  display: flex;
  justify-content: center;
}

.chart-icon {
  font-size: 128px;
}

.cardActive {
  /* background: #1da57a; */
  /* background: rgb(29, 165, 122, 0.4); */
  background: rgb(29, 165, 122, 0.8);
}
